@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&family=Quicksand:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(25, 25, 25);
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Josefin Sans', sans-serif;
    ;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


body::-webkit-scrollbar {
    display: none;
}
