.card {
    background: rgb(8, 8, 8);
    background: linear-gradient(137deg, rgba(8, 8, 8, 1) 34%, rgba(44, 44, 45, 1) 100%, rgba(145, 145, 145, 1) 100%);
    color: white;
    margin: 0px 10px;
    box-sizing: border-box;
    width: calc(25% - 20px);
    position: relative;
    overflow: hidden;
}


#cardImg {
    width: 100%;
}

.card:hover .playbtn {
    opacity: 1;
    transform: translateY(0);
  }
  
